/* css styles */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: black;
    background-color: white
}

/* Navbar text color */
.navbar a, .navbar a:visited .menu-text{
    color: black; /* Change this to the desired shade of black */
}
